@use 'login';
@use 'dashboard';
@use 'layout';
@use 'profit';
@use 'transactions';
@use 'edit-transactions';
@use 'costs';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Light",sans-serif;
  background-color: #f5f5f5;
}
h2 {
  margin-bottom: 60px;
  color: #052C65;
  font-size: 40px;
  font-weight: 600;
}
